@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .forms {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    animation: fadeInUp 0.5s ease;
  }
  
  .forms h2 {
    text-align: center;
    color: #333;
  }
  
  .forms input[type="text"],
  .forms input[type="password"],
  .forms input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .forms input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .forms input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .link {
    text-align: center;
  }
  
  .link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .link a:hover {
    text-align: center;
  }